<header>
          <h1>Preencha o formulário para editar a vaga</h1>
          <h2>Seja claro no preenchimento do formulário para atrair o profissional desejado!</h2>
    </header>

    <main>
        <div id="formulario-container">
            <form action="/vagas/update" method="post">
               <span>
                 <input  type="text" name="id" id="id" value="{{vaga.dataValues.id}}">
                </span>
               <span id="titulo"> 
                <label for="titulo">Título da vaga:</label>
                <input type="text" name="titulo" id="titulo" value="{{vaga.dataValues.titulo}}" placeholder="Digite o título da vaga" />
                <small id="titulo-ajuda">O título é muito importante, seja claro e objetivo</small>
               </span>
               <span id="descricao">
                    <label for="descricao">Descrição da vaga:</label>
                    <textarea name="descricao" id="descricao"  type="text" placeholder="Descreva os requisitos e as atividades do profissional...." >{{vaga.dataValues.descricao}}</textarea>
               </span>
               <span id="empresa">
                    <label for="empresa">Empresa contratante:</label>
                    <input type="text" name="empresa" id="empresa" value="{{vaga.dataValues.empresa}}" placeholder="Digite o nome da sua empresa" >
               </span>
               <span id="email">
                   <label for="email">E-mail para contato:</label>
                   <input type="text" name="email" id="email" value="{{vaga.dataValues.email}}"
                    placeholder="Digite o e-mail para contato" />
               </span> 
               <span id="salario">
                    <label for="salario">Salário oferecio:</label>
                    <input type="number" name="salario" id="salario" value="{{vaga.dataValues.salario}}" placeholder="Digite o salario da vaga"/>
               </span>
               <button id="enviar" type="submit">Enviar</button>
            </form>
        </div>
    </main>